#slider {
  position: relative;
  width: 930px;
  height: 350px;
  margin-bottom: 40px;
}

.main_view {
  float: left;
  position: relative;
}

.window {
  overflow: hidden;
  position: relative;
  width:930px;
  height:320px;
}

.image_reel {
  position: absolute;
  top: 0;
  left: 0;
}

.image_reel img {
  float: left;
}

.paging {
  padding: 5px 0 15px 0;
  text-align: center;
  background:url(../img/slide-shadow.png) center -7px no-repeat;
  z-index: 100;
}

.paging a {
  text-indent:-9999px;
  background:url(../img/slide-nav-button.png) no-repeat center;
  width:14px;
  height:14px;
  display:inline-block;
  margin: 4px;
  border:none;
  outline:none;
}

.paging a.active {
  background:url(../img/slide-nav-button-hover.png) no-repeat center; 
  border:none; 
  outline:none;
}

.paging a:hover {
  font-weight: bold;
  border:none;
  outline:none;
}

.desc {
  width:930px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: url(../img/30w087b.png);
  color: #fff;
  font-size: 1.7em;
  padding: 10px;
  border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -khtml-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
}

.desc p {
  margin: 0;
}

#header {
  z-index:2;
}

#slider { 
  z-index:1;
}